<!DOCTYPE html>
<html>
    <head>
        <title>Middlist</title>
    </head>

    <body>
        <h1>Add Dorm</h1>

            {% if form.is_multipart %}
                <form enctype="multipart/form-data" method="post" action="/add_dorm/">
            {% else %}
                <form method="post" action="/add_dorm/">
            {% endif %}

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field.name }}
                {{ field }}<br>
            {% endfor %}

            <input type="submit" name="submit" value="Create Dorm Posting" />
        </form>
    </body>

</html>